.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px; /*это правило остается пустым*/
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg'); /*размещаю svg здеcь, так как изображение может поменяться на другое*/
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 64px;
  height: 32px;
}

.header__title {
  margin: 0;
  padding: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 3;
  width: 730px;
  align-self: center;
  margin-left: 64px;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
  width: 388px;
  bottom: 30px;
  left: 64px;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  z-index: 2;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

.header__square-pic {
  position: absolute;
  z-index: 1;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.description {
  padding: 100px 0;
  display: flex; /*делаем блок флекс-контейнером*/
  justify-content: center; /*центрируем блок*/
}

.two-columns {
  display: flex; /*флекс-контейнер*/
  justify-content: space-between; /*раскидываем флекс-элементы по краям строки*/
  width: 80%; /*по макету*/
}
.two-columns__brief {
  margin: 0; /*обнуляем отступы*/
  padding: 0;
  width: 175px; /*по макету*/
  line-height: 1.2; /*типографика*/
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-columns__main-text { /*все по макету*/
  min-width: 784px;
  width: 80%;
}
.two-columns__paragraph {
  margin: 0 0 30px 0; /*отделяем параграфы друг от друга*/
  padding: 0;
  line-height: 34px; /*типографика*/
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type { /*псевдокласс для удаления лишнего отступа у последнего параграфа*/
  margin-bottom: 0px;
}

.two-columns__span-accent { /*типографика для текстового акцента*/
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding-bottom: 100px;
}

.section-title {
  width: 60%; /*ширина блока заголовка*/
  text-align: center; /*центрирование текста*/
  line-height: 1.15; /*не стал задавать здесь цвет текста, так по умолчанию черный*/
  font-size: 60px;
  font-weight: bold;
}

/*here was modif for section-title*/

.digits__section-title { /*микс блока с элементом для позиционирования блока section-title*/
  margin: 0 auto 20px auto;
}

.section-subtitle { /*аналогично заголовку*/
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__section-subtitle {
  margin: 0 auto;
}

.table { /*стили таблицы*/
  list-style: none; /*убираем маркеры*/
  display: flex; /*превращаем список в строку*/
  flex-wrap: wrap; /*теперь в две строки за счет переноса*/
  justify-content: space-between; /*равномерно раскидываем внутри таблицы*/
  padding: 0; /*убираем ненужный внутренний отступ справа от левой границы списка*/
  width: 1100px; /*по макету*/
}

.digits__table {
  margin: 0 auto;
}

.table__cell { /*стилизация и позиционирование ячеек таблицы на светлом фоне*/
  width: 250px;
  color: #000000;
  margin-right: 0; /*непонятно зачем тут это*/
  margin-top: 60px;
}

.table__heading {
  margin: 0; /*сбрасываем отступы*/
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0; /*отталкиваем текст от заголовка */
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex; /*чтобы заголовки не занимали лишнее место и размеры соответствовали размеру контента*/
  flex-direction: column; /*чтобы заголовки распологались вдоль вертикали*/
  align-items: center; /*центруем относительно вертикальной прямой в центре секции*/
  position: relative; /*чтобы расположить ссылку относительно границ текущего блока*/
  min-height: 790px; /*по макету*/
  background-color: #f2f2f2; /*цвет фона*/
  background-image: url(../images/feynman.png); /*картинка как фон*/
  background-repeat: no-repeat; /*шобы не повторялось эт самое*/
  background-size: 867px 637px; /*размеры*/
  background-position: left bottom; /*позиционирования фоновой картинки*/
  /*убрал свойство box-sizing и теперь дейтсивительно
  подзаголовок встал на уровне со ссылкой. Просто в брифе написано высота 790пикс,
  мне показалось что таким образом мы фиксируем высоту,
  но теперь понял что высоту секции не стоит фиксировать*/
  padding-top: 100px; /*щемим контент на сотку сверху*/
}

.feynman__title {
  text-align: center; /*центрируем текст*/
  width: 648px; /*по макету*/
  margin: 0 0 70px 0; /*отталкиваем подзаголовок от заголовка, а в остальрном обнуляем отступы*/
  padding: 0; /*обнуляем отступы*/
  line-height: 1.15; /*типографика*/
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  margin: 0; /*обнуляем отступы*/
  padding: 0; /*обнуляем отступы*/
  line-height: 51px; /*типографика*/
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute; /*позиционируем по макету*/ /*теперь ссылка и подзаголовок опять не на одном уровне, все благодаря этому свойству.*/
  top: 50%; /*по макету, но честно я не уверен что тут правильно*/
  right: 48px;
  line-height: 51px; /*типографика*/
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:hover {
  text-decoration: underline;
}

.kaufman {
  position: relative; /*для позиционирования относительно границ данного блока*/
  background-color: #1f1f1f; /*цвет фона*/
  padding: 90px 0; /*отступы по макету*/
  overflow: hidden; /*чтобы треугольник не увеличивал область видимости*/
}

.kaufman__section-title {
  margin: 0 auto 20px auto;
}

.section-title_theme_dark { /*модификатор заголовка*/
  position: relative; /*чтобы надпись была над треугольником*/
  z-index: 2; /*чтобы надпись была над треугольником*/
  color: #fff; /*цвет белый*/
}

.kaufman__section-subtitle {
  margin: 0 auto;
}

.section-subtitle_theme_dark { /*аналогично предыдущему*/
  position: relative;
  z-index: 2;
  color: #fff;
}

.kaufman__table {
  margin: 0 auto;
}

.table_theme_dark {
  position: relative; /*чтобы таблица была над треугольником*/
  z-index: 2; /*чтобы таблица была над треугольником*/
}

.table__cell_theme_dark { /*модификатор ячейки таблицы*/
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_heading_theme_dark { /*типографика*/
  /*никаких уникальных свойств*/
}

.table_text_theme_dark { /*типографика*/
  /*никаких уникальных свойств*/
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg); /*стилизация и позиционирование треугольника*/
  background-size: contain;
  position: absolute;
  z-index: 1;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
}

.footer {
  box-sizing: border-box;
  min-height: 350px; /*по макету*/
  display: flex; /*чтобы колонки расположились вдоль горизонтали*/
  padding: 60px 0 40px 0; /*отступы заданные по макету*/
  background-color: #1f1f1f; /*фон по макету*/
  justify-content: center; /*чтобы весь блок колонок оказался по центру*/
  color: #fff; /*так задаю цвет всего последующего текста (кроме ссылок), так как данное свойство наследуемое*/
}

.footer__columns { /*блок колонок*/
  display: flex; /*чтобы вдоль горизонтали*/
  justify-content: space-between; /*чтобы получилось как по макету*/
  width: 90%; /*согласно макету*/
}

.footer__column { /*колонка*/
  display: flex; /*теперь каждая колонка это флекс-контейнер*/
  flex-direction: column; /*теперь это флекс-столбец*/
}

.footer__column_content_copyright { /*колонка для копирайт-информации*/
  flex-basis: 711px; /*по макету*/
  justify-content: space-between;  /*чтобы как на макете раскидать по краям столбца лого и ФИО*/
}

.logo_place_footer { /*тут все по макету и даже картинка тут*/
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  margin: 18px 0; /*просят по макету добавить внешние отступы*/
  line-height: 25px; /*см. типографика*/
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info { /*колонка О Практикуме*/
  /*на макете не задана стилизация*/
}

.footer__column-heading { /*заголовки двух колонок*/
  margin: 0; /*обнуляем отступы*/
  padding: 0; /*-//-*/
  line-height: 30px; /*типографика*/
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links { /*блок ссылок*/
  list-style: none;
  padding: 0;
  display: flex; /*делаем этот блок флекс-контейнером*/
  flex-direction: column; /*чтобы ссылки стояли в столбик*/
  margin: 20px 0 16px 0;  /*отступы блока ссылок*/
}

.footer__social-icon {
  display: inline-block;
  vertical-align: text-bottom; /*пусть будет так...*/
  margin-right: 10px; /*размеры изображениий иконок*/
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__column-link { /*ссылки*/
  text-decoration: none; /*типографика*/
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__social-icon_media_facebook {
  background-image: url('../images/facebook_color_white.svg');
}

.footer__social-icon_media_vk {
  background-image: url('../images/vk_color_white.svg');
}

.footer__social-icon_media_instagram {
  background-image: url('../images/instagram_color_white.svg');
}

.footer__column-link:last-of-type { /*псевдоэлемент чтобы удалить отступ после последний ссылки*/
  margin-bottom: 0;
}

.footer__column_content_social { /*Колонка социальных сетей*/
  display: flex; /*делаем блок флекс-контейнером*/
  flex-direction: column; /*в столбец*/
}

